.btns {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: center;
  .btn-link {
    margin-bottom: $margin-n;
    margin-right: $margin-n;
  }
  .btn-lg {
    margin-bottom: $margin-lg;
    margin-right: $margin-lg;
  }
  .btn-n {
    margin-bottom: $margin-n;
    margin-right: $margin-n;
  }
  .btn-sm {
    margin-bottom: $margin-sm;
    margin-right: $margin-sm;
  }
  .btn-xs {
    margin-bottom: $margin-xs;
    margin-right: $margin-xs;
  }
  .btn:last-child {
    margin-right: 0;
  }
}

.btn {
	display: inline-flex;
	justify-content: center;
	align-items: center;
	font-weight: $font-weight-normal;
	border: $border-width solid transparent;
	white-space: nowrap;
	user-select: none;
	outline: none;
}
@each $color, $value in $colors {
	.btn-#{$color} {
		@include button-variant($value, $value);
	}
}
@each $color, $value in $colors {
	.btn-outline-#{$color} {
		@include button-outline-variant($value);
	}
}
.btn-link {
	color: $link-color;
	background-color: transparent;
}

.btn-lg {
	@include button-size(
    $padding-lg / 2,
    $padding-lg,
    $font-size-lg,
    $line-height-n,
    $border-radius
  );
  &.border-ellipse {
    padding-left: $padding-lg * 2;
    padding-right: $padding-lg * 2;
  }
}
.btn-n {
	@include button-size(
    $padding-n / 2,
    $padding-n,
    $font-size-n,
    $line-height-n,
    $border-radius
  );
  &.border-ellipse {
    padding-left: $padding-n * 2;
    padding-right: $padding-n * 2;
  }
}
.btn-sm {
	@include button-size(
    $padding-sm / 2,
    $padding-sm,
    $font-size-sm,
    $line-height-sm,
    $border-radius
  );
  &.border-ellipse {
    padding-left: $padding-sm * 2;
    padding-right: $padding-sm * 2;
  }
}

.btn-xs {
	@include button-size(
    $padding-xs / 2,
    $padding-xs,
    $font-size-xs,
    $line-height-xs,
    $border-radius
  );
  &.border-ellipse {
    padding-left: $padding-xs * 2;
    padding-right: $padding-xs * 2;
  }
}

.btn-block {
	display: block;
	width: 100%;
}
