.btn {
	display: inline-flex;
	justify-content: center;
	align-items: center;
	font-weight: $font-weight-normal;
	border: $border-width solid transparent;
	white-space: nowrap;
	user-select: none;
	outline: none;
}
@each $color, $value in $colors {
	.btn-#{$color} {
		@include button-variant($value, $value);
	}
}
@each $color, $value in $colors {
	.btn-outline-#{$color} {
		@include button-outline-variant($value);
	}
}
.btn-link {
	color: $link-color;
	background-color: transparent;
}

.btn-lg {
	@include button-size(
    $padding-lg / 2,
    $padding-lg,
    $font-size-lg,
    $line-height-n,
    $border-radius
  );
}
.btn-n {
	@include button-size(
    $padding-n / 2,
    $padding-n,
    $font-size-n,
    $line-height-n,
    $border-radius
  );
}
.btn-sm {
	@include button-size(
    $padding-sm / 2,
    $padding-sm,
    $font-size-sm,
    $line-height-sm,
    $border-radius
  );
}

.btn-xs {
	@include button-size(
    $padding-xs / 2,
    $padding-xs,
    $font-size-xs,
    $line-height-xs,
    $border-radius
  );
}

.btn-ellipse {
	border-radius: 100rem;
}

.btn-block {
	display: block;
	width: 100%;
}
