// color
$white: #fff !default;
$gray-100: #f8f9fa !default;
$gray-200: #e9ecef !default;
$gray-300: #dee2e6 !default;
$gray-400: #ced4da !default;
$gray-500: #adb5bd !default;
$gray-600: #6c757d !default;
$gray-700: #495057 !default;
$gray-800: #343a40 !default;
$gray-900: #212529 !default;
$black: #000 !default;

$blue: #007bff !default;
$indigo: #6610f2 !default;
$purple: #6f42c1 !default;
$pink: #e83e8c !default;
$red: #dc3545 !default;
$orange: #fd7e14 !default;
$yellow: #ffc107 !default;
$green: #28a745 !default;
$teal: #20c997 !default;
$cyan: #17a2b8 !default;

// theme-color
$primary: $blue !default;
$secondary: $gray-600 !default;
$success: $green !default;
$info: $cyan !default;
$warning: $yellow !default;
$danger: $red !default;
$light: $gray-100 !default;
$dark: $gray-800 !default;

$theme-colors: () !default;
$theme-colors: map-merge(

	(
		'primary': $primary,
		'secondary': $secondary,
		'success': $success,
		'info': $info,
		'warning': $warning,
		'danger': $danger,
		'light': $light,
		'dark': $dark
	),
	$theme-colors
);

// opacity
$opacities: () !default;
$opacities: map-merge( ('25': 25, '50': 50, '75': 75), $opacities);

$styles: () !default;
$styles: map-merge(

	(
		'dotted': dotted,
		'dashed': dashed,
		'solid': solid,
		'double': double,
		'groove': groove,
		'ridge': ridge,
		'inset': inset,
		'outset': outset
	),
	$styles
);

// position
$positions: static, relative, absolute, fixed;

// border
$border-width: 1px !default;
$border-color: $gray-300 !default;
$border-radius: 0.25rem !default;

$size: 1rem !default;
$sizes: () !default;
$sizes: map-merge(

	(
		'xxl': $size * 2,
		'xl': $size * 1.5,
		'lg': $size * 1.25,
		'n': $size * 1,
		'sm': $size * 0.875,
		'xs': $size * 0.75,
		'xxs': $size * 0.625
	),
	$sizes
);

$scales: () !default;
$scales: map-merge( ('xxl': 'xxl', 'xl': 'xl', 'lg': 'lg', 'n': 'n', 'sm': 'sm', 'xs': 'xs', 'xxs': 'xxs'), $scales);

$lineHeight: 1.6 !default;
$lineHeights: () !default;
$lineHeights: map-merge(

	(
		'xxl': $lineHeight * 2,
		'xl': $lineHeight * 1.5,
		'lg': $lineHeight * 1.25,
		'n': $lineHeight * 1,
		'sm': $lineHeight * 0.875,
		'xs': $lineHeight * 0.75,
		'xxs': $lineHeight * 0.625
	),
	$lineHeights
);

// font
$font-size-base: 1rem !default; // Assumes the browser default, typically `16px`
$font-size-xxl: ($font-size-base * 2) !default;
$font-size-xl: ($font-size-base * 1.5) !default;
$font-size-lg: ($font-size-base * 1.25) !default;
$font-size-n: ($font-size-base * 1) !default;
$font-size-sm: ($font-size-base * 0.875) !default;
$font-size-xs: ($font-size-base * 0.75) !default;
$font-size-xxs: ($font-size-base * 0.625) !default;

$font-weight-light: 300 !default;
$font-weight-normal: 400 !default;
$font-weight-bold: 700 !default;

// line-height
$line-height-base: 1.6 !default;
$line-height-xxl: ($line-height-base * 2) !default;
$line-height-xl: ($line-height-base * 1.5) !default;
$line-height-lg: ($line-height-base * 1.25) !default;
$line-height-n: ($line-height-base * 1) !default;
$line-height-sm: ($line-height-base * 0.875) !default;
$line-height-xs: ($line-height-base * 0.75) !default;
$line-height-xxs: ($line-height-base * 0.625) !default;

// padding
$padding-base: 0.5rem !default;
$padding-xxl: ($padding-base * 8) !default;
$padding-xl: ($padding-base * 4) !default;
$padding-lg: ($padding-base * 2) !default;
$padding-n: ($padding-base * 1) !default;
$padding-sm: ($padding-base * 0.5) !default;
$padding-xs: ($padding-base * 0.25) !default;
$padding-xxs: ($padding-base * 0.125) !default;

// margin
$margin-base: 0.5rem !default;
$margin-xxl: ($margin-base * 8) !default;
$margin-xl: ($margin-base * 4) !default;
$margin-lg: ($margin-base * 2) !default;
$margin-n: ($margin-base * 1) !default;
$margin-sm: ($margin-base * 0.5) !default;
$margin-xs: ($margin-base * 0.25) !default;
$margin-xxs: ($margin-base * 0.125) !default;

// space
$spacer: 0.5rem !default;
$spacers: () !default;
$spacers: map-merge(

	(
		'xxl': $spacer * 8,
		'xl': $spacer * 4,
		'lg': $spacer * 2,
		'n': $spacer * 1,
		'sm': $spacer * 0.5,
		'xs': $spacer * 0.25,
		'xxs': $spacer * 0.125
	),
	$spacers
);
// z-index
$zindex-fixed: 1030 !default;
$zindex-dialog: 1040 !default;

// opacity
$opacity-mask: 0.35 !default;

// options
// quickly modify global styling by enabling or disabling optional features.
$enable-rounded: true !default;
$enable-shadows: true !default;
$enable-gradients: true !default;

// misc
// The yiq lightness value that determines when the lightness of color changes from "dark" to "light". Acceptable values are between 0 and 255.
$yiq-contrasted-threshold: 150 !default;
$yiq-text-dark: $gray-900 !default;
$yiq-text-light: $white !default;
// body
$body-bg: $white !default;
$body-color: $gray-900 !default;
// link
$link-color: theme-color('primary') !default;
$link-decoration: none !default;
// animation
$animation-duration: 0.3s !default;
