$margin-base: 0.5rem !default;
$margin-xxl: ($margin-base * 8) !default;
$margin-xl: ($margin-base * 4) !default;
$margin-lg: ($margin-base * 2) !default;
$margin-n: ($margin-base * 1) !default;
$margin-sm: ($margin-base * 0.5) !default;
$margin-xs: ($margin-base * 0.25) !default;
$margin-xxs: ($margin-base * 0.125) !default;