$animation-duration: 0.3s !default;

$body-bg: $white !default;
$body-color: $gray-900 !default;

$enable-rounded: true !default;
$enable-shadows: true !default;
$enable-gradients: true !default;

$input-placeholder-color: $gray-600 !default;

$link-color: $primary !default;
$link-decoration: none !default;

$positions: static, relative, absolute, fixed;

// The yiq lightness value that determines when the lightness of color changes from "dark" to "light". Acceptable values are between 0 and 255.
$yiq-contrasted-threshold: 150 !default;
$yiq-text-dark: $gray-900 !default;
$yiq-text-light: $white !default;
