$padding-base: 0.5rem !default;
$padding-xxl: ($padding-base * 8) !default;
$padding-xl: ($padding-base * 4) !default;
$padding-lg: ($padding-base * 2) !default;
$padding-n: ($padding-base * 1) !default;
$padding-sm: ($padding-base * 0.5) !default;
$padding-xs: ($padding-base * 0.25) !default;
$padding-xxs: ($padding-base * 0.125) !default;