@mixin gradient-bg($color) {
	@if $enable-gradients {
		background-color: $color;
		background-image: radial-gradient(circle, $color, mix($body-bg, $color, 25%));
	} @else {
		background-color: $color;
	}
}
