@each $color, $value in $theme-colors {
  .bg-#{$color} {
    background-color: $value;
  }
}

@each $opacity, $value in $opacities {
  .bg-white-#{$opacity} {
    background-color: rgba($color: $white, $alpha: $value);
  }
}

@each $opacity, $value in $opacities {
  .bg-black-#{$opacity} {
    background-color: rgba($color: $black, $alpha: $value);
  }
}

.bg {
  &-white {
    background-color: $white;
  }

  &-black {
    background-color: $black;
  }

  &-transparent {
    background-color: transparent;
  }
}
