.float {
  &-left {
    float: left;
  }
  &-right {
    float: right;
  }
}

.clear-float {
  clear: both;
  &-left {
    clear: left;
  }
  &-right {
    clear: right;
  }
}

.clearfix::after {
  content: '';
  clear: both;
  display: table;
}