@each $size, $length in $spacers {
  .grid-gap-#{$size} {
    grid-gap: $length;
  }
  .grid-row-gap-#{$size} {
    grid-row-gap: $length;
  }
  .grid-column-gap-#{$size} {
    grid-column-gap: $length;
  }
}

.grid-auto-flow {
  &-row {
    grid-auto-flow: row;
  }
  &-column {
    grid-auto-flow: column;
  }
  &-row-dense {
    grid-auto-flow: row dense;
  }
  &-column-dense {
    grid-auto-flow: column dense;
  }
}

.grid-template-columns-auto {
  &-1 {
    grid-template-columns: auto;
  }
  &-2 {
    grid-template-columns: auto auto;
  }
  &-3 {
    grid-template-columns: auto auto auto;
  }
  &-4 {
    grid-template-columns: auto auto auto auto;
  }
  &-5 {
    grid-template-columns: auto auto auto auto auto;
  }
}

.grid-template-columns-fr {
  &-1 {
    grid-template-columns: 1fr;
  }
  &-2 {
    grid-template-columns: 1fr 1fr;
  }
  &-3 {
    grid-template-columns: 1fr 1fr 1fr;
  }
  &-4 {
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }
  &-5 {
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  }
}

.grid-justify-content {
  &-start {
    justify-items: start;
  }
  &-end {
    justify-content: end;
  }
  &-center {
    justify-content: center;
  }
  &-between {
    justify-content: space-between;
  }
  &-around {
    justify-content: space-around;
  }
  &-evenly {
    justify-content: space-evenly;
  }
}

.grid-align-content {
  &-start {
    align-content: start;
  }
  &-end {
    align-content: end;
  }
  &-center {
    align-content: center;
  }
  &-between {
    align-content: space-between;
  }
  &-around {
    align-content: space-around;
  }
  &-evenly {
    align-content: space-evenly;
  }
}
