@each $spacer, $value in $spacers {
  .margin-#{$spacer} {
    margin: $value;
  }
  .margin-top-#{$spacer} {
    margin-top: $value;
  }
  .margin-right-#{$spacer} {
    margin-right: $value;
  }
  .margin-bottom-#{$spacer} {
    margin-bottom: $value;
  }
  .margin-left-#{$spacer} {
    margin-left: $value;
  }
  .margin-x-#{$spacer} {
    margin-left: $value;
    margin-right: $value;
  }
  .margin-y-#{$spacer} {
    margin-top: $value;
    margin-bottom: $value;
  }
}

.margin-auto {
  margin: auto;
}

@each $prop, $abbrev in (top: top, right: right, bottom: bottom, left: left) {
  .margin-#{$abbrev}-auto {
    margin-#{$prop}: auto;
  }
}
