@each $size, $length in $spacers {
  .margin-#{$size} {
    margin: $length;
  }
  .margin-top-#{$size} {
    margin-top: $length;
  }
  .margin-right-#{$size} {
    margin-right: $length;
  }
  .margin-bottom-#{$size} {
    margin-bottom: $length;
  }
  .margin-left-#{$size} {
    margin-left: $length;
  }
  .margin-x-#{$size} {
    margin-left: $length;
    margin-right: $length;
  }
  .margin-y-#{$size} {
    margin-top: $length;
    margin-bottom: $length;
  }
}

.margin-auto {
  margin: auto;
}

@each $prop, $abbrev in (top: top, right: right, bottom: bottom, left: left) {
  .margin-#{$abbrev}-auto {
    margin-#{$prop}: auto;
  }
}
