@each $size, $length in $spacers {
  .padding-#{$size} {
    padding: $length;
  }
  .padding-top-#{$size} {
    padding-top: $length;
  }
  .padding-right-#{$size} {
    padding-right: $length;
  }
  .padding-bottom-#{$size} {
    padding-bottom: $length;
  }
  .padding-left-#{$size} {
    padding-left: $length;
  }
  .padding-x-#{$size} {
    padding-left: $length;
    padding-right: $length;
  }
  .padding-y-#{$size} {
    padding-top: $length;
    padding-bottom: $length;
  }
}
