@each $spacer, $value in $spacers {
  .padding-#{$spacer} {
    padding: $value;
  }
  .padding-top-#{$spacer} {
    padding-top: $value;
  }
  .padding-right-#{$spacer} {
    padding-right: $value;
  }
  .padding-bottom-#{$spacer} {
    padding-bottom: $value;
  }
  .padding-left-#{$spacer} {
    padding-left: $value;
  }
  .padding-x-#{$spacer} {
    padding-left: $value;
    padding-right: $value;
  }
  .padding-y-#{$spacer} {
    padding-top: $value;
    padding-bottom: $value;
  }
}
